<% include partials/header %>

<h1>This is the Show template</h1>

<p><%= foundCampground.name%></p>
<img src="<%=foundCampground.image%>" class="thumbnail">
<p><%=foundCampground.description%></p>


<%include partials/footer%>